#### Rules for variables

1. must start with letter or underscroe(_)
2. Can contain letters ,underscores , numbers
3. case-sensitive
4. ccannot use python keywords

#### What are python's variable naming conventios ?

In [3]:
#valid
num = 2
num_2 = 5
_num_3 =6
Num_4 = 5

#invalid
# num k = 5
# 2_num = 6
# @num_5 = 5
# data-set = 2 

print(num,num_2,Num_4,_num_3)

2 5 5 6

#### What happens when you assign a value to a varible that has the same name as a built-in function

In [10]:
# Ans: Error
if = 5
for = 6
in = 3

SyntaxError: invalid syntax (3223206209.py, line 1)

#### Can variable in python hold different types of values at different times ? Show an example

In [12]:
# Yes
a = 4
print(a)

a = 4.2
print(a)

a = "APPLE"
print(a)

a = True
print(a)

4
4.2
APPLE
True

#### What is the difference between local and global variable

In [19]:
# local variable: can be used in few part of code ,example

def Examle(num):
    a = 5*(num)
    print(a)
    
# print(a) error

# global variable: can be used in any part of code ,example

a = 5 
for i in range(0,4):
    x = i*a
    print(x)

0
5
10
15

In [1]:
my_int = int(input("Enter a number: "))
result = my_int * 2
print("Multiplication is ",result)

Enter a number:  5

Multiplication is  10

In [4]:
list_1 = [1,"Hello",3.4,True]
print(list_1)

[1, 'Hello', 3.4, True]

In [6]:
list_1.append("World")
list_1

[1, 'Hello', 3.4, True, 'World', 'World']

In [7]:
list_1.remove(3.4)
list_1

[1, 'Hello', True, 'World', 'World']

In [9]:
tuple_1 = (1,"Apple",3.14,False)
tuple_1

(1, 'Apple', 3.14, False)

In [10]:
tuple_1[1]

'Apple'

In [19]:
tuple_1[-1:]

(False,)

In [23]:
set_1 = {1:"apple",2:"Banana",3:"cherry"}
set_2 = {"A":"ANT","B":"BAT","C":"CAT"}
set_2["A"]

'ANT'

In [26]:
set_3={1,2,3,4,5}
set_3.add(0)
set_3

{0, 1, 2, 3, 4, 5}